.menu {
    list-style-type: none;
    text-align: center;
    
   
}
.menu a {
    text-decoration: none;
    color: red;
    margin: 30px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
   
}
.menu li {
    display: inline-block;   
}
.image {
    width: 1280px;
    height: 600px;

}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.mail context {
    margin: 0;
    padding: 0;
}
p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight: 400;
    
   
}

.order {
    text-align: center;
    background-color: red; 
    border: none; 
    color: white; 
    width: 191px;
    height: 51px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    display: block;
}
footer {
    text-align: right;
    font-weight:700;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}